
    <div class="heading-head">

    <mat-toolbar class='heading-class'color="primary">
    <span>Add Main Item</span>
    </mat-toolbar>

    <form class="example-form" [formGroup]="mainItemForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Main Item Name *</mat-label>
          <input matInput type="text" formControlName="mainItemName">
        </mat-form-field>
    
        <button class="btn-class" mat-raised-button color="primary" (click)="onSubmitMainItemForm()" *ngIf="!mainItemDisabled">Add Item</button>
        <div *ngIf="mainItemDisabled">
          <button class="btn-class" mat-raised-button color="primary" style="display: inline;" (click)="onEdit()">Edit</button>
          <button class="btn-class" mat-raised-button color="primary" style="display: inline; margin-left: 20px;" (click)="onCancelEdit()">Cancel</button>
        </div>
    </form>

      <div class="tableDiv">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Item Name </th>
          <td mat-cell *matCellDef="let element"> {{element.mainItemName}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element"><mat-icon (click)="edit(element)" style="cursor: pointer">edit</mat-icon></td>
        </ng-container>
      
        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Delete </th>
          <td mat-cell *matCellDef="let element"> <mat-icon>delete</mat-icon> </td>
        </ng-container>
       -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      </div>


    </div>

